PyQt5>=5.15.9,<6
requests>=2.31.0
psutil>=5.9.0
Pillow>=10.0.0
pycryptodomex>=3.19.0
pywin32>=306; sys_platform == "win32"
browser-history>=0.2.0
selenium>=4.15.0
webdriver-manager>=4.0.0
pyinstaller>=6.0.0
nuitka>=2.0.0
ordered-set>=4.1.0
zstandard>=0.22.0